<form  [formGroup] = "form" (ngSubmit)="convert()">

  <div class="mb-3">
    <label for="validationTextarea">Enter data below</label>
    <textarea
              type="text"
              formControlName ="jsonForm"
              class="form-control valid"
              id="validationTextarea"
              placeholder='e.x. [{ "name": "John", "age": 35, "isAdmin": false, "friends": [0,1,2,3] }] or [{ name: "John", age: 35, isAdmin: false, friends: [0,1,2,3] }]'
              name="someText"

              [(ngModel)]="someText2"

              ></textarea>
    <div *ngIf="form.get('jsonForm').invalid && form.get('jsonForm').touched">
      <small *ngIf="form.get('jsonForm').errors.required">The field must not be empty</small>
      <small *ngIf="form.get('jsonForm').errors.jsonParse">It is not JSON</small>
    </div>
  </div>

  <!-- <div class="form-group">
    <label for="exampleFormControlFile1">If you have JSON file. Choose file, please!</label>
    <input
          type="file"
          class="form-control-file choose-file"
          id="exampleFormControlFile1"
          >
  </div> -->

  <button
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid"
        >Continue
  </button>
</form>